@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&family=Teko:wght@600&display=swap');

:root {
    --marrom-claro: #A45A49;
    --marrom-um-pouco-escuro: #1F1517;
    --marrom-mais-escuro: #181012;
    --marrom-claro-link: rgba(255, 242, 231, 0.50);
    --branco: #FFF2E7;
    --preto: #000000;

    --fonte-logo: 'Teko', sans-serif;
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-subtitulo: 'Inter', sans-serif;
    --fonte-titulo-status: 'Epilogue', sans-serif;

    /* Teko
        -600
    Inter
        -400
        -500
        -600
    Montserrat
        -700
        -800
    Epilogue
        -500 
    */

}

body{
    
}

.header{
    display: flex;
    flex-direction: row;
    background-color: var(--marrom-um-pouco-escuro);
    color: var(--branco);
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header > span{
    font-family: var(--fonte-logo);
    font-size: 2rem;
}

.header > nav ul {
    display: flex;
    gap: 1rem;
    font-family: var(--fonte-subtitulo);
    font-weight: 500;
    color: var(--marrom-claro-link);
    font-size: 1rem;
}

.ativo{
    font-weight: 600;
    color: var(--branco);
}